/*============== HTML Style ======================== */

*    { box-sizing: border-box;} 
html { 
  font-size:                       100%; 
}

a {
  text-decoration:                 none;
  cursor:                       pointer;
}
body {
  font-family: 'Montserrat', sans-serif;
  color:                        #211138;
  background-color:             #f4f3f5;
}
h2, h6, p,
ul {
  margin:                             0;
} 
h2, h6, p{
margin-bottom:                 1.071rem; 
}
h2 {
  font-size:                       40px;
}


/*============== Head Style ======================= */

header {
  height:                          80px;
  background-color:             #6200ea;
}

.head-2 {
   position:                    relative;
   margin-left:                 15.1125%;
   
}
.b-ton {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border:            2px solid  #FFFFFF;
  border-radius:                   24px;
  color:                        #6200ea;
  margin-top:                     1.25rem;
}
.logo {
  float: right;
  margin-top:                      1rem;
  margin-right:                     50%;
  
}
/*============== Navbar Style ====================== */

.nav-top {
  height:                           80px;
  background-color:              #ffffff;
}
.nav-top1 {
  display:                         table;
  height:                           100%;
  width:                           100vw;
  margin-left:                      6%;
  
}
.nav-top2 {
  display:                    table-cell;
  vertical-align:                 middle;
  text-align:                     center;
}
.nav-top3 {
  padding-bottom:                 2.1rem;
  margin-right:                     5.3%;
  color:                         #211138;
}
.nav-top3:hover { 
  border-bottom:                   solid; 
  border-color:                  #6200ea; 
  color:                         #6200ea;
}
/*============== Article Style ====================== */

.blog-b {
  display:                        table;
  float:                           left;
  width:                            48%;
  height:                         100vh;
  margin-left:                 15.3125%;
  margin-right:                1.875rem; 
}

.box-1 {
  position: relative;
  height:                         160px;
  width:                            48%;
  background-color:             #FFFFFF;
  border-radius:      1.071rem 1.071rem;
  float:                           left;
}
.box-2 {
  position: relative;
  height:                         160px;
  width:                            48%;
  background-color:             #FFFFFF;
  border-radius:      1.071rem 1.071rem;
  float:                          right;
  margin-left:                    1.rem;
  
}
.blog-1 {
  position:                    relative;
  height:                         320px;
  width:                           100%;
  background-color:             #FFFFFF;
  border-radius:      1.071rem 1.071rem;
  margin-top:                  1.875rem;
}
.blog-2 {
  position:                    relative;
  height:                         320px;
  width:                           100%;
  background-color:             #FFFFFF;
  border-radius: 0  0 1.071rem 1.071rem;
}
#place {
padding:                        8%   8%;
}
button {
padding:                 .628rem 2.1rem;
border:                       2px solid;
border-radius:                 1.786rem; 
text-align:                      center;
cursor:                         pointer;
}
.postdata {
font: Bold 11px Montserrat;
letter-spacing: 2.4px;
color: #B2ACBA;
text-transform: uppercase;
}
/*============== Inside Style ====================== */

.feblog {
  background-image: url('assets/roberto-nickson-5ui0tfMC5ts-unsplash.jpg');
  background-size:               cover;
  border-radius:     1.071rem 1.071rem;
  object-fit:                    cover;
  width:                          100%;
  height:                        320px; 
  margin:   2.5rem 1.875rem 1.875rem 0;
  color:                       #FFFFFF;
}

/*============== Aside Style ====================== */

.r-side {
  display:                       table;
  height:                        100vh;
  width:                           22%;
}
.box-top {
  margin-top:                 1.875rem;
  height:                         60px;
  width:                          100%;
  border-radius: 1.071rem 1.071rem 0 0;
  background-color:            #6200ea;
  color:                       #FFFFFF;
  text-align:                   center;
  padding:                      1.3rem;
}
.box-3 {
  height:                        160px;
  width:                          100%;
  background-color:            #FFFFFF;
  border-bottom:    1px solid  #f4f3f5;
  float:                          left;
}
.box-low {
  display:                       table;
  height:                         60px;
  width:                          100%;
  border-radius: 0 0 1.071rem 1.071rem;
  background-color:            #FFFFFF;
  color:                       #B2ACBA;
  text-align:                   center;
  padding:                      1.3rem;
  cursor:                      pointer;
}
.blog-text { 
  font-family: sans-serif Montserrat;
  font-size:                      14px;
  letter-spacing:                  0px;
  color:                       #211138;
} 
.card-title { 
  color:                      #6200ea;
  margin-top:                  1.1rem;
  font:     Bold 12px/15px Montserrat;
letter-spacing:                 2.4px;
}
.responsive {
  object-fit:                   cover;
  width:                          30%;
  height:                         75%;
  float:                         left;
  margin:                      1.1rem;
  border-radius:              .714rem;
}
/* ========== link Style =============*/

.link-line{
  display:                       table;
  height:                          0vh;
  width:                           22%;
  list-style-type:                none;
  padding:                           0;
  
}
.sidebar-list {
  height:                        50px;
  width:                         100%;
  border-bottom:    1px solid #f4f3f5;
  background-color:           #FFFFFF;
  padding-top:                     7%;
  
}
.sidebar {
  margin:                        2rem;
  font:          Bold 12px Montserrat;
  letter-spacing:               2.4px;
  color:                      #211138;                         
}
/*============== footer Style ====================== */

footer {
height:                        100px;
text-align:                   center;
background-color:            #211138;
padding:             2.4rem 0 3rem 0;
margin:                8.5rem 0 0  0;

}
.footer-1 {
  text-transform:          uppercase; 
  font-size:                 .857rem; 
  font-weight:                  bold; 
  letter-spacing:            .171rem; 
  color:                     #b2acba;
}
.ftext-1 {
  color:                     #6200EA;
}